<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDugxHe-Del01gisMDqL0u433YPoGMYZHg</string>
	<key>GCM_SENDER_ID</key>
	<string>977377281160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppFast.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-fast-c29b0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-fast-c29b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977377281160:ios:35fc04ebfdb466c9cfcb3d</string>
</dict>
</plist>